#projects {
  padding-top: 7.2rem;
  background: #16181d;
  padding-bottom: 14.4rem;
}

#projects span {
  font-family: 'Inconsolata', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 0.8rem;
  color: #e3646e;
}

#projects h2 {
  font-family: 'Asap', sans-serif;
  color: #e2e4e9;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 5.6rem;
}

#project-cards {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-card {
  width: 33rem;
  background: #292c34;
  padding: 1.2rem;
  border-radius: 1.2rem;
}

.project-card img {
  width: 30.6rem;
  object-fit: cover;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

.project-card h3 {
  font-family: 'Asap', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 120%;
  color: #e2e4e9;
  margin-bottom: 0.8rem;
}

.project-card p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.4rem;
  line-height: 140%;
  margin-bottom: 0.4rem;
}
